:root{
    --negro: #0F0F0F;
    --gris: #232D3F;
    --verdeFuerte: #005B41;
    --verdeClaro: #008170;

}

* {
    margin: 0;
    padding: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    font-size: 62.5%;
    background-color: beige;
}

h1,h2,h3{
    text-align: center;
}

h1{
    color: var(--negro);
    font-size: 3.5rem;
}
span{
    color: var(--verdeFuerte);
    font-size: 1.5rem;
}

.regresar{
    text-decoration: none; color: black;
}
.regresar:hover{
    color: #04AA6D;
}

.head-2{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    
    font-size: 3rem;
}

.contenedorEncabezado1{
    background-color: black;
    margin: 3rem 20%;
    height: 15rem;
    display: flex;
    margin-bottom: 1rem;
}

.contenedorEncabezado2{
    display: flex;
    margin: 1rem auto;
    width: 50%;
}

.icono{
    width: 100px;
    height: 100px;
    margin: 2.6rem;
    
}

.contenido-principal{
    margin: 0 35rem; /* Aplica margen al contenido-principal */
    height: 80rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.sombra{
    -webkit-box-shadow: 10px 17px 5px 0px rgba(20,17,20,0.53);
    -moz-box-shadow: 10px 17px 5px 0px rgba(20,17,20,0.53);
    box-shadow: 10px 17px 5px 0px rgba(20,17,20,0.53);
}

.head-3{
    color: black;
    
    font-size: 2.5rem;
    padding: 1rem;
}

.contenedor-datos{
    margin: 1.5rem 25rem; /* Aplica margen al contenido-principal */
    height: 25rem;
    width: 52rem;
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin-bottom: 0;
}

.contenedor-datos2{
    margin: 1rem 12rem; /* Aplica margen al contenido-principal */
    width: 50%;
    height: 5rem;
    display: flex;
    justify-content: left;
    
}

.icono-2{
    width: 50px;
    height: 50px;
    margin: 0rem; 
}

.contenedor-datos2-p{
    margin: auto 1.5rem;
    font-family: 'Courgette', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.mapa{
    width: 52rem;
    height: 40rem;
    margin: 0rem 25rem;
    display: flex;
    flex-direction: column;
}

.botonUbicacion{
    display: flex;
    font-size: 1.8rem;
    margin: 4rem auto;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    align-items: center;
    padding: 0.99rem;
    text-transform: uppercase;
}

.botonUbicacion:hover{
    background-color: var(--verdeFuerte);
    color: black;
}



